$width: 63rpx;
$height: 15rpx;

.log-list {
  display: flex;
  flex-direction: column;
  padding: 40rpx;
}

.log-item {
  margin: 10rpx;
}

.stars {
  width: $width;
  height: $height;
  background-image: url('../../images/stars.svg');
  background-size: cover;
  margin: 20rpx auto;
}
